@font-face {
    font-family: 'tf2secondary';
    src: url('https://onepunchmanatee.github.io/CTK301/assign10folder/tf2secondary-webfont.woff2') format('woff2'),
         url('https://onepunchmanatee.github.io/CTK301/assign10folder/tf2secondary-webfont.woff') format('woff');
    src: url('tf2secondary-webfont.woff2') format('woff2'),
         url('tf2secondary-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'tf2secondary', sans-serif;
}

main {
  grid-column: span 12;
}

#mainport {
  background-color: lightgray;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: lightgray;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  border-radius: 20px;
}

header {
  margin: 0 auto;
  grid-column: span 12;
  position: relative;
}

.icon {
  width: 50px;
  height: 50px;
  padding-left: 1000px;
  color: green;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 2.5em;
}


p {
  font-family: malaga, serif;
  font-weight: 400;
  font-style: normal;
}

#center {
  padding-left: 500px;
}

body {
  background-image: url(wall.jpg);
}

nav {
  grid-column: span 12;
}

nav ul{
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  text-align: center;
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid darkgray;
  border-bottom: 0px;
  border-radius: 15px 15px 0px 0px;
  background-color: orange;
  font-weight: bold;
  box-shadow: 10px 10px 10px #666;
  transition: background-color 1s;
}

nav a{
  text-decoration: none;
  color: black;
}

nav a:visited{
  color: black;
}

nav li:hover{
  text-decoration: none;
  background-color: darkorange;
}

footer {
  grid-column: span 12;
}

.stomp {
  width=85%;
}

.bi {
  font-size: 30px;
  top: 20px;
}

.bi:link, .bi:visited {
  color: #9654D8;
  text-shadow: 4px 4px 4px black;
}

.bi-steam {
  position: absolute;
  top: 16px;
  right: 263px;
}

.bi-discord {
  position: absolute;
  top: 16px;
  right: 223px;
}

.icons {

}

#reigen {
  border-radius: 2000px;
  margin: 24px;
  display: inline;
  grid-column: span 6;
  float: left;
}

#blurb {
  grid-column: span 6;
  text-align: center;
  padding-top: 200px;
}
